.candidator_org .container h4 {
  font-weight: bold;
}
.candidator_org .container .candidate {
  float: left;
  width: 250px;
  padding: 0px 5px;
}
.candidator_org .container .candidate table {
  width: 100%;
}
.candidator_org .container .candidate table tr:nth-child(even) {
  background-color: #eee;
}
.candidator_org .container .candidate h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
.candidator_org .container .candidate h4 {
  font-weight: bold;
  text-transform: capitalize;
}
.candidator_org .container .categ-title {
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
}
